:root {
    --main-font:'Roboto',sans-serif;
    --logo-font:'Raleway', sans-serif;
    --main-text-color: #212121;
    --secondary-text-color:#757575;
    --primary-white-color: #ffffff;
    --contact-color:rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --dark-color: #2F303A;
    --gray--color: #F5F4FA;
    --focus-color: #188CE8;
}
body {
    margin: 0;
    background-color: var(--primary-white-color);
    font-family:var(--main-font);
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.studio {
    color: var(--main-text-color);
}

/* Commons */
.button {
    color: var(--main-text-color);
    background-color: var(--primary-white-color);
}

.hero-button {
    
    display: inline-block;
    min- width: 200px;
    max-height: 50px;
    border-radius: 4px;
    padding: 10px 32px;

    
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    
    cursor: pointer;
    }

.hero-button:hover,
.hero-button:focus {
    background-color: var(--focus-color);
    color:var(--primary-white-color);
}
   

.btn-portfolio {
    height: 38px;
    border-radius: 4px;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    
    color: var(--main-text-color);
    background-color: var(--gray--color);
    text-align: center;
    cursor: pointer;
}


.btn-portfolio.current {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.button.list .button-iteam + .button-iteam {
    margin-left: 8px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: var(--accent-color);
    color:var(--primary-white-color);
}
header {
    border: 1px solid #ECECEC;
}


.header .container {
    display: flex;
    align-items:center;    
    
}

.hedder-nav  {
    display: flex;
    align-items:center;
}

.logo-link{
    display: inline;
    
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   
}
/*  Header */


.menu.list {
    display: flex;
    margin-left: 93px  ;
    }
.menu.list .menu-iteam {
    margin-right: 50px;
}
.menu.list .menu-iteam:last-child {
    margin-right: 0;
}
.menu-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.menu-link.current {
    color: var(--accent-color);
}
.contacts.list {
    display: flex;
    margin-left: 331px;
}
.contacts.list .contacts-item + .contacts-item {
    margin-left: 50px;
}

.contacts-link{
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
   
}
.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}
    /*  Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: var(--dark-color);
}

.main-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
       
}
 /* Приемущества */

.section.features {
     margin-top: 94px;
     margin-bottom: 94px;
 }  
 .features.list {
     display: flex;
 }
.features.list .features-item+.features-item {
    margin-left:  30px;
}


.features-title{
    
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}
.description{
    margin-top: 0;
    margin-bottom: 0;

    width: 270px;
    height: 75px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

    /* Примеры работ */
.examples {
    display: flex;
}
.examples .example + .example {
    margin-left: 30px;
}


.section-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
    
}



/* Team */
    .team-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    }
    .team-list {
        display: flex;
    }
    .team-list .team-item + .team-item {
    margin-left: 30px;
}
.team-item {
    text-align: center;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
    .photo  {
        margin-bottom: 30px;
    }
   
    .team-card {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.section.command {
    background-color: var(--gray--color);
    padding-top: 94px;
    padding-bottom: 94px;
}

/*Портфолио*/
.portfolio h1 {
    display: none;
}

        .button.list {
            display: flex;
            
            justify-content: center;
            margin-top: 94px;
            margin-bottom: 50px;
        }

        .projekts-list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 94px;
        }
        .projekt-iteam {
            width: 370px;
            height: 404px;
            margin-right: 30px;
            margin-bottom: 30px;

            border: 1px solid #EEEEEE;
            box-sizing: border-box;
        }

        .projekt-iteam:nth-child(3n) {
            margin-right: 0;
        }
        .projekt-iteam:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    
        .projekt-title {
        margin-top: 0;
        margin-bottom: 0;
        margin: 20px 24px 2px 24px;
        font-size: 18px;
        line-height: 2;       
        letter-spacing: 0.06em;
        color: var(--main-text-color);
    }

    .projekt-card {
        margin-top: 0;
        margin-bottom: 0;
        margin: 2px 24px 20px 24px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }

    /* Футер */

    footer {
        
        background-color: var(--dark-color);
        height: 252px;
    }
    footer .container {

        padding-top: 60px;
        padding-bottom: 60px;
    }
    .logo-studio{
        color: var(--primary-white-color);
    }

    .contact-info-list-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--primary-white-color);
    }
    footer .address {
        margin-top: 20px;
        
    }
    .contact-info-list-item {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--contact-color);
    }
    .contact-info-list.list .contact-info-list-item + .contact-info-list-item {
        margin-top: 9px;
    }
    
    .contact-info-list-item:hover,
    .contact-info-list-item:focus {
        color: var(--accent-color);
    }
    
    